<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <script src="https://kit.fontawesome.com/6b5e9208bd.js" crossorigin="anonymous"></script>
        
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <style>
        @keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Déplace vers le bas */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Position normale */
    }
}

.fade-in-up {
    opacity: 0; /* Démarre transparent */
    animation: fadeInUp 1s ease forwards; /* Animation d'1 seconde */
}
        .bg-custom {
        background-image: url('/images/background_image.webp') !important;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    #imageModal {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.rotate-180 {
    transform: rotate(180deg);
}

/* Optionnel : Ajouter une transition pour une rotation fluide */
.chevron-icon {
    transition: transform 0.2s ease-in-out;
}

/* Styles pour l'animation du menu déroulant */
.collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.expand {
  max-height: 1000px; /* Ajustez cette valeur en fonction de la hauteur maximale de vos sous-catégories */
  overflow: hidden;
  transition: max-height 0.5s ease-in;
}

/* Styles pour l'animation de la description du portfolio */
#portfolio-description {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

#portfolio-description.hidden {
    opacity: 0;
}


    </style>
    <body class="bg-custom ">
        {% block body %}{% endblock %}
    </body>
</html>
